# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / packaging / build
build/
dist/
*.egg-info/
.eggs/

# Unit test / coverage
.pytest_cache/
.coverage
htmlcov/

# Environments
.env
.venv
venv/
ENV/
env/

# Django
*.log
db.sqlite3-journal
media/

# Frontend / Node
node_modules/
.vite/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# IDEs and OS
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
