{% extends 'base/base.html' %}

{% block content %}
<div class="mb-8">
    <h1 class="text-2xl font-bold tracking-tight text-gray-900">{{ title }}</h1>
</div>

<div class="bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl md:col-span-2">
    <form method="post">
        {% csrf_token %}
        <div class="px-4 py-6 sm:p-8">
            <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                {% for field in form %}
                <div class="sm:col-span-3">
                    <label for="{{ field.id_for_label }}" class="block text-sm font-medium leading-6 text-gray-900">{{ field.label }}</label>
                    <div class="mt-2">
                        {{ field }}
                        {% if field.errors %}
                            <p class="mt-2 text-sm text-red-600">{{ field.errors.0 }}</p>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="flex items-center justify-end gap-x-6 border-t border-gray-900/10 px-4 py-4 sm:px-8">
            <a href="{% url 'enrollment:index' %}" class="text-sm font-semibold leading-6 text-gray-900">Cancel</a>
            <button type="submit" class="rounded-md bg-primary px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500">Save</button>
        </div>
    </form>
</div>
{% endblock %}
